<div class="service-container">
  <div class="service-card" *ngFor="let serv of services">
    <div nz-row>
      <div nz-col nzSpan="8">
        <img class="service-img" [src]="updateImg(serv.returnedImg)" />
      </div>
      <div nz-col nzSpan="16" class="service-info">
        <h2 class="service-name">{{ serv.serviceName }}</h2>
        <hr />
        <h5>Prix: <b>{{ serv.price }}Dh</b></h5>
        <p>Description: <b>{{ serv.description }}</b></p>
        <hr />
        <div class="service-actions">
          <button
            nzSize="small"
            nz-button
            nzType="primary"
            routerLink="/company/service/{{ serv.id }}"
          >
            Modifier
          </button>
          <button
            nzSize="small"
            nzDanger
            (click)="deleteService(serv.id)"
            nz-button
            nzType="primary"
          >
            Supprimer
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
