<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-body">
          <h2 class="text-center mb-4">Ajouter Avis</h2>
          <form nz-form [formGroup]="validateForm" (ngSubmit)="saveReview()">
            <div class="form-group">
              <label for="reviewTextarea">votre avis</label>
              <textarea id="reviewTextarea" rows="5" class="form-control" formControlName="review" placeholder="ecrire votre avis"></textarea>
            </div>

            <div class="form-group">
              <label>Note</label>
              <div>
                <nz-rate formControlName="note"></nz-rate>
              </div>
            </div>

            <button nz-button nzType="primary" class="btn btn-block">Publier</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
