<div *ngIf="!isClientIsLoggedIn && !isCompanyIsLoggedIn">
  <nav class="navbar navbar-expand-lg custom-navbar shadow-sm">
    <div class="container">
      <a class="navbar-brand" routerLink="/">
        <h2 class="text-white">Système de Réservation</h2>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div *ngIf="isClientIsLoggedIn">
  <nav class="navbar navbar-expand-lg custom-navbar shadow-sm">
    <div class="container">
      <a class="navbar-brand" routerLink="/">
        <h2 class="text-white">Système de Réservation</h2>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavClient"
        aria-controls="navbarNavClient" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavClient">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/client/dashboard" routerLinkActive="active">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/client/reservations" routerLinkActive="active">Reservations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div *ngIf="isCompanyIsLoggedIn">
  <nav class="navbar navbar-expand-lg custom-navbar shadow-sm">
    <div class="container">
      <a class="navbar-brand" routerLink="/">
        <h2 class="text-white">Système de Réservation</h2>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavCompany"
        aria-controls="navbarNavCompany" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavCompany">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/company/dashboard" routerLinkActive="active">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/company/service" routerLinkActive="active">Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/company/services" routerLinkActive="active">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="content-container">
  <router-outlet></router-outlet>
</div>
