<div class="search-container">
  <form nz-form [formGroup]="validateForm" (submit)="getServiceByName()" class="search-form">
    <input type="text" formControlName="service" placeholder="Entrez nom service" nz-input />
    <button nz-button nzType="primary" >Search</button>
  </form>
</div>

<div class="services-container">
  <div class="service-card" *ngFor="let serv of services">
    <div nz-row>
      <div nz-col nzSpan="8" routerLink="/client/service/{{ serv.id }}">
        <img [src]="updateImg(serv.returnedImg)" class="service-img" />
      </div>

      <div nz-col nzSpan="16" class="service-info" routerLink="/client/service/{{ serv.id }}">
        <h2 class="service-name">{{ serv.serviceName }}</h2>
        <hr />
        <p>Prix: <b>{{ serv.price }}Dh</b></p>
        <p>Description: <b>{{ serv.description }}</b></p>
        <hr />
        <div class="service-actions">
          <button nz-button nzType="primary" routerLink="/client/service/{{ serv.id }}">
            View
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
