<div class="container">
<nz-table #basicTable [nzData]="reservations" [nzPageSize]="20" [nzShowPagination]="false" style="padding: 20px">
  <thead>
    <tr>
      <th class="heading">Client Name</th>
      <th class="heading">Service</th>
      <th class="heading">Date</th>
      <th class="heading">Status</th>
      <th class="heading">Action</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let res of basicTable.data">
      <tr>
        <td style="font-weight: 600">{{ res.username }}</td>
        <td style="font-weight: 600">{{ res.serviceName }}</td>
        <td>{{ res.dateReservation | date : "dd/MM/yyyy" }}</td>
        <td style="font-weight: 600;font-size: 20px;">
          <span *ngIf="res.reservationStatus === 'APPROUVER'" class="badge badge-success rounded-pill d-inline">Approuver</span>
          <span *ngIf="res.reservationStatus === 'REJETER'" class="badge badge-danger rounded-pill d-inline">Rejeter</span>
          <span *ngIf="res.reservationStatus === 'ENATTENTE'"class="badge badge-waring rounded-pill d-inline">En Attente</span>
        </td>
        <td>
          <ng-container *ngIf="res.reservationStatus === 'ENATTENTE'">
            <button style="margin-left: 10px" nzSize="small" nz-button nzType="primary"
                    (click)="changeReservationStatus(res.id, 'APPROUVER')">
              Approve
            </button>
            <button style="margin-left: 10px" nzSize="small" nz-button nzType="primary" nzDanger
                    (click)="changeReservationStatus(res.id, 'REJETER')">
              Reject
            </button>
          </ng-container>
        </td>
      </tr>
    </ng-container>
  </tbody>
</nz-table>
