.custom-button {
  padding: 15px 30px; /* Adjust these values as needed for larger padding */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem; /* Adjust font size as needed */
  text-align: center;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url("/assets/img/sh.jpg") no-repeat center center fixed;
  background-size: cover;
}
