* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.header-carousel-item {
  margin: 0;
  padding: 0;
}

#appContainer {
  margin: 0;
  padding: 0;
}

.header-carousel {
  margin-bottom: 0; /* Ensure no bottom margin */
}

.custom-navbar {
  margin-bottom: 0; /* Ensure no bottom margin */
}

.content-container {
  padding-top: 0; /* Ensure no top padding */
  margin: 0; /* Ensure no margin */
  position: relative;
  top: 0;
}
